@{
    var name = "Qark Programming Language";
    var title = ViewData["Title"] != null ? $"{ViewData["Title"]} | {name}" : name;
    var description = "Object-oriented, general-purpose, fast, compiled programming language";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@description" />
    <meta name="keywords" content="Qark, programming language, compiled, object-oriented, imperative, multi-paradigm, general-purpose, system, native" />
    <meta name="author" content="Qark Team" />
    <meta name="msapplication-TileColor" content="#4a4b65" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:url" content="https://qark.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:site_name" content="@name" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="https://qark.dev/qark-social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="@name" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@qarklang">
    <title>@title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png" />
    <link rel="manifest" href="~/site.webmanifest" />
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="stylesheet" media="screen" href="~/dist/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <partial name="GoogleAnalytics" />
</head>
<body>
    <nav class="navbar is-light" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-page="Index">
                    <img src="~/qark-logo.svg" width="28" height="28" alt="Qark" />
                    <span class="subtitle mx-3">Qark</span>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start is-expanded">
                    <div class="navbar-item">
                        <p class="control has-icons-left has-icons-right">
                            <input id="search" class="input _is-rounded is-small" type="search" placeholder="Search...">
                            <span class="icon is-left">
                                <i class="bi bi-search"></i>                                
                            </span>
                            <span class="icon is-right">
                                <span class="tag is-light">/</span>                             
                            </span>                            
                        </p>
                    </div>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" asp-page="Index">Home</a>
                    <a class="navbar-item" asp-page="Learn">Learn</a>
                    <a class="navbar-item" asp-page="Download">Download</a>
                    <a class="navbar-item" asp-page="Docs">Docs</a>
                    @*<div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Docs</a>
                        <div class="navbar-dropdown">
                        <a class="navbar-item" asp-controller="Reference" asp-action="Index">Language Reference</a>
                        <a class="navbar-item" asp-controller="iCore" asp-action="Index">Library Reference</a>
                        <a class="navbar-item" asp-controller="Compiler" asp-action="Index">Compiler Reference</a>
                        </div>
                        </div>*@
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="https://github.com/qark-lang" title="GitHub" target="_blank">
                                <span class="icon is-size-4">
                                    <i class="bi bi-github"></i>
                                </span>
                            </a>
                            <a class="button is-light" href="https://twitter.com/qarklang" title="Twitter" target="_blank">
                                <span class="icon is-size-4">
                                    <i class="bi bi-twitter"></i>
                                </span>
                            </a>
                            <a class="button is-light" href="https://t.me/qarklang" title="Telegram" target="_blank">
                                <span class="icon is-size-4">
                                    <i class="bi bi-telegram"></i>
                                </span>
                            </a>
                            <a class="button is-light" href="https://discord.com/invite/v9SEdGP" title="Discord" target="_blank">
                                <span class="icon is-size-4">
                                    <i class="bi bi-discord"></i>
                                </span>
                            </a>
                            <a class="button is-light" href="https://join.slack.com/t/qark/shared_invite/zt-7lxqcm85-P5egLm2I6LonH1G5vXPbpg" title="Slack" target="_blank">
                                <span class="icon is-size-4">
                                    <i class="bi bi-slack"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="footer">
        <div class="content has-text-centered">
            <p>Copyright © @DateTime.Now.Year <a href="https://github.com/orgs/qark-lang/people">Qark Team</a></p>
            <p>Qark is licensed under the <a asp-controller="Home" asp-action="License">MIT License</a></p>
            <a href="https://bulma.io">
                <img src="~/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
            </a>
        </div>
    </footer>
    <div id="modal-search" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p>Modal JS example</p>
                <!-- Your content -->
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/typeit@8.2.0/dist/index.umd.js"></script>
    <script src="~/dist/site.js"></script>
</body>
</html>